@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  min-width: 1160px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.link {
  text-decoration: none;
  color: var(--basic-black);
  font-style: normal;
}

.header {
  margin: 0;
  background-color: #EEEEEE;
}

.header__wrap {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-top: 48px;
  padding-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 438px;
  padding-top: 19px;
  margin-right: 36px;
}

.header__link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  outline: none;
}

.header__link:hover {
  color: #FB565A;
}

.header__link:active {
  color: #000000;
  opacity: 0.3;
}

.header__link:focus {
  border-bottom: 2px solid #FB565A;
}

.header__cart {
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  border: none;
  background-color: transparent;
  padding-top: 19px;
  padding-right: 0;
  padding-left: 45px;
  position: relative;
}

.header__cart::before {
  display: block;
  position: absolute;
  content: '';
  background-image: url(../img/icon-cart.svg);
  width: 15px;
  height: 15px;
  bottom: 9px;
  left: 5px;
}

.header__cart:hover {
  color: #FB565A;
}

.header__cart:active {
  color: rgba(0, 0n, 0, 0.3);
}

.learn-more {
  background-color: #EEEEEE;
  position: relative;

}

.learn-more__list {
  width: 1160px;
  margin: 0 auto;

}

.learn-more__item {
  display: none;
  padding-top: 70px;
  padding-bottom: 80px;
}

.learn-more__item:nth-child(1) {
  display: block;
}

.learn-more__item--long {
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: 397px -8px;
}

.learn-more__caption {
  margin: 0;
  width: 538px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 27px;
}

.learn-more__text {
  margin: 0;
  width: 416px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 38px;
}

.learn-more__btn {
  display: block;
  box-sizing: border-box;
  width: 240px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  line-height: 18px;
  color: #ffffff;
  background-color: #FB565A;
  border-radius: 3px;
  padding-top: 17px;
  padding-left: 55px;
  padding-bottom: 15px;
}

.learn-more__slayder {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.services {
  padding-top: 80px;
}

.services__list {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;

}

.services__img {
  margin-bottom: 21px;
}

.services__item {
  width: 300px;
  margin-right: 100px;

}

.services__item:nth-child(3n) {
  margin-right: 0;
}

.services__title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__text {
  width: 260px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-bottom: 32px;
}

.services__btn {
  display: block;
  box-sizing: border-box;
  width: 160px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  line-height: 18px;
  color: #ffffff;
  background-color: #FB565A;
  border-radius: 4px;
  padding-top: 17px;
  padding-left: 7px;
  padding-bottom: 16px;
  margin-bottom: 50px;
}

.services__btn--app {
  background-color: #00CA74;
}

.services__btn--prezi {
  background-color: #EFC849;
}


.about {
  display: grid;
  grid-template-columns: auto 780px 380px auto;
  grid-template-rows: 270px auto;
  position: relative;
  background-image: url(../img/nerds.png);
  background-repeat: no-repeat;
  background-position: 920px 40px;
  padding-bottom: 52px;
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: #eeeeee;
  top: 0;
  left: calc(50% - 579px);
}

.about::after {
  content: "";
  display: block;
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: #eeeeee;
  bottom: 0;
  left: calc(50% - 579px);
}

.about__description {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 76px;
}

.about__development {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.about__table {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

}

.table__caption {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 16px;
  padding-left: 22px;
  margin-bottom: 29px;
}

.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 35px;
}

.about__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 650px;
  margin: 0;
  color: #283136;
}

.about__development {
  padding-top: 17px;
}

.about__caption {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283136;
  margin-bottom: 22px;
}

.about__item {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-bottom: 24px;
  padding-left: 36px;
  position: relative;

}

.about__item::before {
  position: absolute;
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: #FB565A;
  top: 12px;
  left: 0px;
}

.table {
  padding-left: 17px;
}

.table__value {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  text-align: left;
  position: relative;
  width: 124px;
}

.table__percent {
  position: absolute;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  top: 2px;
}

.table__item {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  text-align: left;
  padding-top: 12px;
}



.logotypes {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.logotypes::after {
  content: "";
  display: block;
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: #eeeeee;
  bottom: 0;
  left: calc(50% - 579px);
}

.logotypes__list {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-top: 40px;
  padding-bottom: 42px;
  margin-bottom: 80px;
}

.logotypes__item {
  width: 290px;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
}

.logotypes__item:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  right: 0;
  top: 25px;
  background-color: #eeeeee;
}

.logotypes__item:hover {
  cursor: pointer;
  opacity: 0.6;
}

.logotypes__logo-html-academy {
  background-image: url(../img/logo-html-academy.svg);
  background-repeat: no-repeat;
  background-position: 31px 22px;
}

.logotypes__logo-borodinski {
  background-image: url(../img/logo-barbershop.png);
  background-repeat: no-repeat;
  background-position: 35px 6px;
}

.logotypes__logo-pink {
  background-image: url(../img/logo-pink.png);
  background-repeat: no-repeat;
  background-position: 58px 25px;
}

.logotypes__logo-Mishka {
  background-image: url(../img/logo-mishka.png);
  background-repeat: no-repeat;
  background-position: 74px 12px;
}


.map__img {
  height: 416px;
}

.map,
.footer {
  width: 1400px;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.footer__social{
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: red;
}

.footer__friends {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.footer__text {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  margin: 0;
}