@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



img {
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  min-width: 1160px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.link {
  text-decoration: none;
  color: #000000;
  font-style: normal;
}

.header {
  margin: 0;
  background-color: #EEEEEE;
}

.header__wrap {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-top: 48px;
  padding-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  outline: none;
}

.header__logo-link:active .header__logo path,
.header__logo-link:focus .header__logo path {
  fill: #A6A6A6;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 438px;
  padding-top: 19px;
  margin-right: 36px;
}

.header__link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  outline: none;
}


.header__link:hover {
  color: #FB565A;
}


.header__link:active {
  color: #000000;
  opacity: 0.3;
}

.header__link:focus,
.header__link--active {
  padding-bottom: 11px;
  border-bottom: 2px solid #FB565A;
}

.header__cart {
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  border: none;
  background-color: transparent;
  padding-top: 23px;
  padding-right: 0;
  padding-left: 45px;
  padding-bottom: 10px;
  position: relative;
}

.header__cart::before {
  display: block;
  position: absolute;
  content: '';
  background-image: url(../img/icon-cart.svg);
  width: 15px;
  height: 15px;
  bottom: 17px;
  left: 5px;
}

.header__cart:hover {
  color: #FB565A;
}

.header__cart:active {
  color: rgba(0, 0n, 0, 0.3);
}

.header__cart:focus {
  border-bottom: 2px solid #FB565A;
}

.learn-more {
  background-color: #EEEEEE;
  position: relative;

}

.learn-more__list {
  width: 1160px;
  margin: 0 auto;

}

.learn-more__item {
  display: none;
  padding-top: 70px;
  padding-bottom: 80px;
}



.learn-more__item--long {
  background-image: url(../img/slide-1.png);
  background-repeat: no-repeat;
  background-position: 397px -8px;
 }

.learn-more__item--math {
  background-image: url(../img/slide-2.png);
  background-repeat: no-repeat;
  background-position: 397px 0px;
}

.learn-more__item--night {
  background-image: url(../img/slide-3.png);
  background-repeat: no-repeat;
  background-position: 397px -9px;
}

.learn-more__item--current {
  display: block;
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes slide {
  0% {
    opacity: 0.2;
  }
 
  100% {
    opacity: 1;
  }
}

.learn-more__caption {
  margin: 0;
  width: 538px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 27px;
}

.learn-more__text {
  margin: 0;
  width: 416px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 38px;
}

.learn-more__btn {
  display: block;
  box-sizing: border-box;
  width: 240px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  line-height: 18px;
  color: #ffffff;
  background-color: #FB565A;
  border-radius: 3px;
  padding-top: 17px;
  padding-left: 55px;
  padding-bottom: 15px;
  outline: none;
  cursor: pointer;
}

.learn-more__slayder {
  width: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  bottom: 96px;
  left: calc(50% - 44px);
}

.slayder__btn {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: none;
  outline: none;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.slayder__btn--current::after {
  box-sizing: border-box;
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #C1C1C1;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}




.learn-more__btn:hover {
  background-color: #E74246;
}

.learn-more__btn:active,
.learn-more__btn:focus {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}



.services {
  padding-top: 80px;
}

.services__list {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;

}

.services__img {
  margin-bottom: 21px;
}

.services__item {
  width: 300px;
  margin-right: 100px;

}

.services__item:nth-child(3n) {
  margin-right: 0;
}

.services__title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__text {
  width: 260px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-bottom: 32px;
}

.services__btn {
  display: block;
  box-sizing: border-box;
  width: 160px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 17px;
  padding-left: 7px;
  padding-bottom: 16px;
  margin-bottom: 50px;
}

.services__btn--web {
  background-color: #FB565A;
}

.services__btn--web:hover {
  background-color: #E74246;
}

.services__btn--web:active,
.services__btn--web:focus {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.services__btn--app {
  background-color: #00CA74;
}

.services__btn--app:hover {
  background-color: #00BC6C;
}

.services__btn--app:active,
.services__btn--app:focus {
  background-color: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.services__btn--prezi {
  background-color: #EFC849;
}

.services__btn--prezi:hover {
  background-color: #EAB534;
}

.services__btn--prezi:active,
.services__btn--prezi:focus {
  background-color: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}


.about {
  display: grid;
  grid-template-columns: auto 780px 380px auto;
  grid-template-rows: 270px auto;
  position: relative;
  padding-bottom: 52px;
}

.about::before {
  content: "";
  display: block;
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: #eeeeee;
  top: 0;
  left: calc(50% - 579px);
}

.about::after {
  content: "";
  display: block;
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: #eeeeee;
  bottom: 0;
  left: calc(50% - 579px);
}

.about__description {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 76px;
  position: relative;
}

.about__description::after {
  position: absolute;
  display: block;
  content: "";
  width: 360px;
  height: 208px;
  top: 40px;
  right: -380px;
  background-image: url(../img/nerds.png);
  background-repeat: no-repeat;
}

.about__development {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.about__table {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

}

.table__caption {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 16px;
  padding-left: 22px;
  margin-bottom: 29px;
}

.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 35px;
}

.about__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 650px;
  margin: 0;
  color: #283136;
}

.about__development {
  padding-top: 17px;
}

.about__caption {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283136;
  margin-bottom: 22px;
}

.about__item {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-bottom: 24px;
  padding-left: 36px;
  position: relative;

}

.about__item::before {
  position: absolute;
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: #FB565A;
  top: 12px;
  left: 0px;
}

.table {
  padding-left: 17px;
}

.table__value {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  text-align: left;
  position: relative;
  width: 124px;
}

.table__percent {
  position: absolute;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  top: 2px;
}

.table__item {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  text-align: left;
  padding-top: 12px;
}



.logotypes {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.logotypes::after {
  content: "";
  display: block;
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: #eeeeee;
  bottom: 0;
  left: calc(50% - 579px);
}

.logotypes__list {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-top: 40px;
  padding-bottom: 42px;
  margin-bottom: 16px;
}



.logotypes__item {
  width: 290px;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
  opacity: 0.6;
}

.logotypes__item:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  right: 0;
  top: 25px;
  background-color: #eeeeee;
}

.logotypes__item:hover {
  cursor: pointer;
  opacity: 1;
}


.logotypes__item:active {
  cursor: pointer;
  opacity: 0.1;
}

.logotypes__logo-html-academy {
  background-image: url(../img/logo-html-academy.svg);
  background-repeat: no-repeat;
  background-position: 31px 22px;
}

.logotypes__logo-borodinski {
  background-image: url(../img/logo-barbershop.png);
  background-repeat: no-repeat;
  background-position: 35px 6px;
}

.logotypes__logo-pink {
  background-image: url(../img/logo-pink.png);
  background-repeat: no-repeat;
  background-position: 58px 25px;
}

.logotypes__logo-Mishka {
  background-image: url(../img/logo-mishka.png);
  background-repeat: no-repeat;
  background-position: 74px 12px;
}


.map {
  width: 1440px;
  height: 416px;
  margin: 0 auto;
  background-image: url(../img/map-with-marker.jpg);
  position: relative;
  margin-bottom: 68px;
}

.map__block {
  width: 100%;
  height: 100%;
}

.write-us {
  position: absolute;
  width: 319px;
  height: 308px;
  top: 54px;
  left: 140px;
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 49px;
  padding-left: 50px;
}

.write-us__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.write-us__address {
  width: 210px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin: 0;
  margin-bottom: 17px;
}

.write-us__phone {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin: 0;
  margin-bottom: 37px;
}

.write-us__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #FB565A;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 18px;
  padding-left: 45px;
  padding-right: 44px;
  padding-bottom: 14px;
  margin: 0;
  outline: none;
  cursor: pointer;
}


.write-us__btn:hover {
  background-color: #E74246;
}

.write-us__btn:active,
.write-us__btn:focus {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}


.footer {
  width: 1440px;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 64px;
  padding-bottom: 69px;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  margin-left: 140px;
}

.footer__friends {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;
}

.footer__text {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  margin: 0;
}

.footer__description {
  margin-left: 130px;
  padding-top: 7px;

}

.footer__social-link {
  display: block;
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin-right: 10px;
}

.footer__social-vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.footer__social-fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__social-ig {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__social-link:hover {
  background-color: #E74246;
}

.footer__social-link:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}

.footer__social-link:active {
  fill-opacity: 0.3;
}

.title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  width: 100%;
  background-color: #EEEEEE;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 108px;
}

.catalog__wrap {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  padding-top: 55px;
  padding-left: 278px;
}

.catalog__filter {
  margin-right: 139px;
}

/* временно */
.cost {
  width: 262px;
  height: 212px;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 52px;
  position: relative.
}

.cost__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 48px;
}

.range__controls {
  position: relative;
  box-sizing: border-box;
  width: 260px;
  height: 80px;
  background: #EEEEEE;
  border-radius: 3px;
  padding-top: 39px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 14px;
}

.range__scale {
  height: 2px;
  background-color: #D7DCDF;
  position: relative;
}

.range__bar {
  width: 65%;
  height: 2px;
  background-color: #00CA74;
  position: absolute;
  left: 0px;

  }

.range__toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
  outline: none;
}

.range__toggle:hover{
  border-color:#ababab;
}

.range__toggle-min {
  left: 18px;
}

.range__toggle-max {
  left: 165px;
}

.cost__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
  margin-right: 29px;
}

.cost__input {
  font-family: inherit;
  font-size: inherit;
  width: 80px;
  background: #EEEEEE;
  border-radius: 3px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin-left: 8px;
  box-sizing: border-box;
  text-align: center;
}

.grid__legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
}

.features__legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
}

.grid,
.features {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.features {
  margin-bottom: 34px;
}

.grid__input,
.features__input {
  position: absolute;
  appearance: none;
}

.grid__label,
.features__label {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #283136;
  padding-left: 35px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.grid__radio {
  position: absolute;
  display: block;
  left: 0px;
  top: -2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #4D4D4D;
  opacity: 0.6;
}

.grid__input:checked+.grid__radio::after {
  display: block;
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background-color: #4D4D4D;
}

.features__checkbox {
  position: absolute;
  left: 0px;
  top: -1px;
  width: 26px;
  height: 26px;
  background-image: url(../img/icon-checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.6;
}



.features__label:active,
.grid__label:active {
  opacity: 0.6;
}

.features__input:checked+.features__checkbox {
  background-image: url(../img/icon-checkbox-on.svg);
  background-repeat: no-repeat;
}

.features__label:hover,
.grid__label:hover,
.features__label:hover .features__checkbox,
.grid__label:hover .grid__radio {
  opacity: 1;
}

.filter__btn {
  box-sizing: border-box;
  width: 260px;
  height: 50px;
  border: none;
  background: #EEEEEE;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.filter__btn:hover {
  background: #DFDFDF;
}

.filter__btn:active,
.filter__btn:focus {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 760px;
}

.catalog-header__sort {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  flex-grow: 1;
}

.catalog-header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-header__sort-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: 29px;
  cursor: pointer;
  opacity: 0.3;
}

.catalog-header__sort-item:hover {
  opacity: 0.6;
}

.catalog-header__sort-item:active,
.catalog-header__sort-item:focus {
  opacity: 1;
}

.catalog-header__sort-item--active {
  opacity: 1;
}

.catalog-header__btn {
  background-color: transparent;
  border: none;
  margin: 0;
  margin-left: 10px;
  padding: 5px 2px;
  opacity: 0.3;
  outline: none;
  cursor: pointer;
}

.catalog-header__btn:hover {
  opacity: 0.6;
}

.catalog-header__btn:active,
.catalog-header__btn:focus,
.catalog-header__btn--active {
  opacity: 1;
}

.catalog__list {
  padding-top: 48px;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-row-gap: 30px;
  grid-column-gap: 41px;
  margin-bottom: 54px;
}

.catalog__item {
  background-color: rgba(77, 77, 77, 0.12);
  margin: 0;
  padding: 0;
  padding-top: 40px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.catalog__item::before {
  display: block;
  position: absolute;
  content: "";
  background-color: #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  top: 13px;
  left: 15px;
}

.catalog__item::after {
  display: block;
  position: absolute;
  content: "";
  background-color: #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  top: 13px;
  left: 38px;
  box-shadow: 23px 0 #ffffff;
}



.catalog__img {
  border: 1px solid #EEEEEE;
  width: 358px;
  height: 578px;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0 0 5px 5px;
}

.catalog__hover {
  width: 360px;
  position: absolute;
  display: none;
  background-color: #EEEEEE;
  bottom: 0;
  left: 0;
  padding-top: 26px;
}

.catalog__name {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
}

.catalog__name:hover {
  color: #FB565A;
}

.catalog__name:active,
.catalog__name:focus {
  color: #000000;
  opacity: 0.3;
}

.catalog__text {
  width: 255px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;

}

.catalog__button {
  display: block;
  width: 200px;
  height: 50px;
  background: #FB565A;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 44px;
  border: none;
  outline: none;
  cursor: pointer;
}

.catalog__button:hover {
  background: #E74246;
}

.catalog__button:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog__item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog__item:hover .catalog__hover {
  display: block;
}

.catalog__pages {
  display: flex;
}

.catalog__link {
  background: #EEEEEE;
  display: block;
  box-sizing: border-box;
  padding-top: 17px;
  margin-right: 11px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
 }

.catalog__link-current {
  border: 3px solid #DBDBDB;
  background-color: #fff;
  padding-top: 14px;
}

.catalog__link:hover {
  background: #DFDFDF;
}

.catalog__link:active {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog__btn {
  width: 260px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background: #EEEEEE;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

.catalog__btn:hover {
  background: #DFDFDF;
}

.catalog__btn:active {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.email-us {
  box-sizing: border-box;
  position: absolute;
  width: 960px;
  height: 590px;
  display: block;
  left: calc(50% - 480px);
  bottom: 180px;
  background-color: #fff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  padding: 63px 100px 84px;
}

.hidden {
  display: none;
}

.email-us__title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  margin-bottom: 37px;
}

.email-us__label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 50px;
  margin-bottom: 61px;
}


.email-us__label--text {
  width: 760px;
}

.email-us__input {
  box-sizing: border-box;
  margin-top: 9px;
  padding: 13px 13px 17px 12px;
  height: 50px;
  border: 2px solid rgba(215, 220, 222, 1);
}

.email-us__input:hover {
  border: 2px solid rgba(180, 185, 187, 1);
}

.email-us__input:active,
.email-us__input:focus {
  border: 2px solid rgba(0, 0, 0, 1);
}

.email-us__input:invalid{
  /* border: 3px solid red; */
  color: red;
}

.email-us__form {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.email-us__textarea {
  margin-top: 9px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 15px;
  min-width: 760px;
  min-height: 118px;
  border: 2px solid rgba(215, 220, 222, 1);
  resize: none;
}

.email-us__textarea:hover {
  border: 2px solid rgba(180, 185, 187, 1);
}

.email-us__textarea:active,
.email-us__textarea:focus {
  border: 2px solid rgba(0, 0, 0, 1);
}

.email-us__label--text {
  margin-bottom: 142px;
}

.email-us__btn {
  display: block;
  box-sizing: border-box;
  width: 259px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  line-height: 18px;
  color: #ffffff;
  background-color: #FB565A;
  border-radius: 3px;
  padding-top: 17px;
  padding-left: 10px;
  padding-bottom: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}

.email-us__btn:hover {
  background-color: #E74246;
}

.email-us__btn:active,
.email-us__btn:focus {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}


.email-us__btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  top: 73px;
  right: 86px;
  background-color: transparent;
  opacity: 0.3;
  outline: none;
  cursor: pointer;
}

.email-us__btn-close::after {
  display: block;
  position: absolute;
  content: '';
  width: 27px;
  height: 5px;
  bottom: 12px;
  left: 2px;
  background-color: #FB565A;
  transform: rotate(45deg);
  background-blend-mode: normal;
  cursor: pointer;
}

.email-us__btn-close::before {
  display: block;
  position: absolute;
  content: '';
  width: 27px;
  height: 5px;
  bottom: 12px;
  left: 2px;
  background-color: #FB565A;
  transform: rotate(135deg);
  background-blend-mode: normal;
}


.email-us__btn-close:hover {
  opacity: 1;
}

.email-us__btn-close:active,
.email-us__btn-close:focus {
  opacity: 0.1;
}